sudo: required
services:
  - docker
language: cpp
dist: bionic
arch:
  - s390x
  - ppc64le
  - amd64
env:
  - NIGHTLY=true
  - NIGHTLY=false
script:
  - echo "CPU Architecture is " $TRAVIS_CPU_ARCH
  - echo "commit is " $TRAVIS_COMMIT
  - df -h
  - if [ "$NIGHTLY" = true ] ; then
      echo "Using nightly llvm-mlir image, build may fail.";
      docker build --tag onnx-mlir-build:initial --build-arg BASE="onnxmlirczar/onnx-mlir-image:$TRAVIS_CPU_ARCH-nightly"  -f ./docker/$TRAVIS_CPU_ARCH.Dockerfile ./docker;
    else
      echo "Using latest compatible llvm-mlir image, build should not fail.";
      docker build --tag onnx-mlir-build:initial --build-arg BASE="onnxmlirczar/onnx-mlir-image:$TRAVIS_CPU_ARCH"  -f ./docker/$TRAVIS_CPU_ARCH.Dockerfile ./docker;
    fi
  - docker run -itd --name build onnx-mlir-build:initial
  - echo "docker is running now"
  - df -h
  - docker cp $(pwd) build:/build/onnx-mlir
  - cd docker
  - chmod a+x compile-onnx-mlir.sh
  - docker cp compile-onnx-mlir.sh build:/usr/bin/compile-onnx-mlir.sh
  - echo "about to execute build inside docker"
  - docker exec build df -h
  - docker exec build compile-onnx-mlir.sh
  - docker commit build onnxmlirczar/onnx-mlir-build:$TRAVIS_CPU_ARCH
after_success: 
  - if [ $TRAVIS_PULL_REQUEST == false ] && [ $TRAVIS_BRANCH == "master" ]; then
            echo "Pushing new build to docker hub";
            docker login -u onnxmlirczar -p "$DOCKER_HUB_TOKEN";
            docker push onnxmlirczar/onnx-mlir-build:$TRAVIS_CPU_ARCH;
        else 
            echo "Skip pushing build"; 
        fi
