lit~=15.0
# numpy 1.24 deprecates np.object, np.bool, np.float, np.complex, np.str,
# and np.int which are used heavily in onnx-mlir.
numpy>=1.26.4
protobuf>=6.33.5
onnx==1.17.0
pytest>=7.4.4
pytest-xdist>=3.4.0
