trigger:
- master

parameters:
- name: CTEST_PARALLEL_LEVEL
  type: string
  default: '4'

jobs:
- job: 'Build_onnx_mlir_Windows'
  timeoutInMinutes: 240
  pool:
    vmImage: 'windows-2019'
  strategy:
    maxParallel: 4

  steps:
  - checkout: self
    clean: true
    submodules: recursive
    path: onnx-mlir

  - task: PowerShell@2
    displayName: Setup ninja
    inputs:
      targetType: 'inline'
      script: |
        echo "Check and set up ninja"
        if (-Not (Get-Command ninja -errorAction SilentlyContinue))
        {
          echo "choco install ninja"
          choco install ninja
        }

  - script: |
      call "%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
      call onnx-mlir\utils\install-protobuf.cmd
    displayName: Install protobuf
    workingDirectory: $(Agent.BuildDirectory)

  - script: |
      call "%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
      call onnx-mlir\utils\install-mlir.cmd
    displayName: Install mlir
    workingDirectory: $(Agent.BuildDirectory)

  - script: |
      call "%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
      call onnx-mlir\utils\build-onnx-mlir.cmd
    displayName: Install onnx-mlir
    workingDirectory: $(Agent.BuildDirectory)

  - script: |
      call "%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
      call onnx-mlir\utils\check-onnx-mlir.cmd
    displayName: Test onnx-mlir
    workingDirectory: $(Agent.BuildDirectory)

  - script: |
      call "%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
      call onnx-mlir\utils\check-numerical.cmd
    displayName: Run onnx-mlir numerical tests
    workingDirectory: $(Agent.BuildDirectory)
    env:
      CTEST_PARALLEL_LEVEL: ${{ parameters.CTEST_PARALLEL_LEVEL }}

  - script: |
      call "%ProgramFiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
      python3 -m pip install --upgrade onnx==1.9.0
      call onnx-mlir\utils\check-docs.cmd
    displayName: Run onnx-mlir doc tests
    workingDirectory: $(Agent.BuildDirectory)

