name: GitHub Action Black Format

on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: psf/black@stable
        with:
          options: "--check --exclude third_party"
          src: "."
